html, body {
	font-size: 16px;
	background-color: #E7E8EA; 
}
.main {
	margin: auto;
	margin-top: 1.875rem;
	background-color: silver;
	width: 87.5rem;
	display: flex;
	justify-content: center;
	border-radius: 1.125rem;
}
.feed, .constructor {
	width: 34.375rem;
	height: 50.625rem;
	margin: 2.5rem;
	border-radius: 1.125rem;
}
.feed {
	background-color: white;
	overflow: auto;
}
.newsConstructor {
	width: 34.375rem;
	height: 31.875rem;
	background-color: white;
	border: 0.0625rem solid #E7E8EA;
	border-radius: 1.125rem;
}
.commentConstructor {
	width: 34.375rem;
	height: 17.8125rem;
	border: 0.0625rem solid silver;
	margin-top: 0.6875rem;
	border-radius: 1.125rem;
}
h2 {
	margin: 0.625rem 0rem 0.625rem 1.875rem;
	font-family: 'Noto Sans TC', sans-serif;
}
form {
	width: 30.3125rem;
	margin: 0rem 0.3125rem 0.3125rem 1.875rem;
}
#author, .CommentAuthor {
	height: 1.25rem;
	width: 12.5rem;
	color: #0894C4;
}
#author::-webkit-input-placeholder {
	color: #0894C4;
}
.CommentAuthor::-webkit-input-placeholder {
	color: #0894C4;
}
#link {
	display: block;
	height: 1.25rem;
	width: 28.125rem;
}
#author, #link, .CommentAuthor, textarea {
	padding: 0.3125rem 0.3125rem 0.3125rem 1.875rem;
	background-color: #E7E8EA;
	margin: 0rem 0rem 0.9375rem 0rem;
	outline-color: darkgrey;
	border: none;
	font-size: 1.25rem;
}
#getNews {
	display: block;
	width: 28.125rem;
	height: 9.375rem;
	resize: none;
}
.getComment {
	display: block;
	width: 28.125rem;
	height: 6.25rem;
	resize: none;
}
button {
	padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
	font-size: 1.25rem;
	background: #FB9400;
	outline: none;
}
#sendNews{
	float: right;
}
.preload {
	width: 34.375rem;
	height: 9.125rem;
	display: flex;
}
#imagePreview {
	height: 9.0625rem;
	width: 9.0625rem;
	border: 0.0625rem solid darkgrey;
	margin-left: 1.875rem;
	background: no-repeat;
	background-size: cover;
}
.preload > span{
	display: block;
	margin: 3.75rem 0rem 0rem 2.5rem;
	font-size: 1.125rem;
	font-style: italic;
}
.newsFeed {
	margin: auto;
	margin-top: 0.9375rem;
	width: 31.25rem;
	background-color: #E7E8EA;
	border: 0.0625rem solid #E7E8EA;
}
.authorFeed {
	color: #0894C4;
	font-size: 1.375rem;
	margin: 0.625rem 0rem 0rem 1.875rem;
}
.dataFeed {
	margin: 0.625rem 0rem 0rem 1.875rem;
	font-size: 1.25rem;
}
.textFeed {
	border-top: 0.0625rem solid darkgrey;
	padding-top: 0.625rem;
	margin: 0.75rem 0.75rem 0.9375rem 1.875rem;
	font-size: 1.125rem;
	font-family: 'Noto Sans TC', sans-serif;
}
div > img {
	margin: 0.75rem 0.75rem 0rem 2.5rem;
	height: 10.625rem;
	width: 10.625rem;
}
button > img {
	height: 1.75rem;
	width: 1.75rem;
}
.like {
	padding: 0.125rem 0.3125rem 0rem 0.3125rem;
}
.feedBack {
	margin: 0.75rem 0.75rem 1.25rem 1.75rem;
}
.feedBack > span {
	margin: 0rem 0.75rem 0rem 0.75rem;
}
.spanLike {
	color: #FE4848;
}
.commentsFeed {
	border-top: 0.0625rem solid black;
}
.container{
	display: flex;
}